body {
    font: 100% Helvetica, sans-serif;
    color: #333;
    margin: 0;
}

.app {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 100px auto;
    grid-template-areas: 
        "header header"
        "sidebar content";
}

.header {
    grid-area: header;

    padding: 10px;
    text-align: center;
    color: white;
    background-color: blueviolet;
}

.sidebar {
    grid-area: sidebar;
    padding: 10px;
    background-color: cornsilk;

    .section {
        
        .sectionHeader {
            cursor: pointer;
            font-weight: bold;

            &:hover {
                color: darkcyan;
                text-decoration-line: underline overline;
            }
        }
        
        .file {
            cursor: pointer;
            margin-left: 10px;

            &:hover {
                color: darkcyan;
                text-decoration-line: underline overline;
            }
        }

        .open {
            display: block;
        }
        .close {
            display: none;
        }
    }
}

.content {
    grid-area: content;
    padding: 10px;
    background-color: ivory;
}

.error {
    color: red;
    font-weight: bold;
}

.drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;

    &.highlight {
        border-color: yellow;
    }
}


.content {

    .B800 {

        .line {
            height: 18px;
        }
        span {
            white-space: pre;
            width: 12px;
            height: 18px;
            display: inline-block;
            text-align: center;
        }

    }

}